body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  background-color: #ffffff;
  font-size: 16px;
}

.sec-one {
  width: 100%;
  color: #F5F6F6;
  background-color: #404eed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(/svgs/svgexport-5.svg), url(/svgs/svgexport-6.svg), url(/svgs/svgexport-4.svg);
  background-repeat: no-repeat;
  background-size: 37.5%, 37.5%, 155%;
  background-position: -15% 100%, 114% 100%, center;
}

.sec-one .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.sec-one .navbar .nav-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-weight: bold;
}

.sec-one .navbar .nav-menus a {
  margin: 0 1em;
  text-decoration: none;
  color: white;
}

.sec-one .navbar .login-btn {
  padding: 1em;
  border-radius: 2em;
  border: none;
}

.sec-one .main-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  padding: 8em;
}

.sec-one .main-intro h1 {
  font-size: 3.5em;
  font-weight: bolder;
  margin: 0;
}

.sec-one .main-intro p {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  margin: 1.5em;
  line-height: 2;
}

.sec-one .main-intro .landing-btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec-one .main-intro .landing-btns button {
  padding: 15px 30px;
  font-size: 22px;
  border-radius: 2em;
  border: none;
  margin: 0 10px;
}

.sec-one .main-intro .landing-btns .download-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec-one .main-intro .landing-btns .download-btn img {
  margin-right: 10px;
}

.sec-one .main-intro .landing-btns .web-btn {
  background-color: #1A1D1F;
  color: #F5F6F6;
}

.sec-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-two .section-two-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  padding: 8em 0;
}

.sec-two .section-two-container .para {
  width: 25%;
}

.sec-two .section-two-container .para h2 {
  font-weight: bolder;
  font-size: 44px;
  margin: 0;
}

.sec-two .section-two-container .para p {
  font-size: 20px;
  font-weight: 300;
}

.sec-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
}

.sec-three .section-three-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  padding: 8em 0;
}

.sec-three .section-three-container .para {
  width: 25%;
}

.sec-three .section-three-container .para h2 {
  font-weight: bolder;
  font-size: 44px;
  margin: 0;
}

.sec-three .section-three-container .para p {
  font-size: 20px;
  font-weight: 300;
}

.sec-four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-four .section-four-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  padding: 8em 0;
}

.sec-four .section-four-container .para {
  width: 25%;
}

.sec-four .section-four-container .para h2 {
  font-weight: bolder;
  font-size: 44px;
  margin: 0;
}

.sec-four .section-four-container .para p {
  font-size: 20px;
  font-weight: 300;
}

.sec-five {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
}

.sec-five .section-five-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  padding: 8em 0;
}

.sec-five .section-five-container .para {
  text-align: center;
}

.sec-five .section-five-container .para h2 {
  font-weight: bolder;
  font-size: 44px;
  margin: 0;
}

.sec-five .section-five-container .para p {
  font-size: 18px;
  font-weight: 300;
}

.sec-five .section-five-container img {
  width: 90%;
}

.sec-five .section-five-container .section-five-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-five .section-five-container .section-five-download h3 {
  font-size: 32px;
}

.sec-five .section-five-container .section-five-download button {
  padding: 15px 30px;
  font-size: 22px;
  border-radius: 2em;
  border: none;
  color: #F5F6F6;
  background-color: #5865f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.sec-five .section-five-container .section-five-download button img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 10px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #23272a;
  color: white;
  padding: 5em;
}

footer a {
  text-decoration: none;
  color: white;
}

footer .footer-up {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-up .footer-left {
  width: 30%;
}

footer .footer-up .footer-left h3 {
  margin: 0;
  font-weight: bolder;
  font-size: 32px;
  color: #404eed;
}

footer .footer-up .footer-left select {
  margin: 2em 0;
  background-color: #23272a;
  color: #F5F6F6;
  border: none;
  font-size: 16px;
}

footer .footer-up .footer-left .socials img {
  margin: auto 1.5em auto auto;
}

footer .footer-up .footer-right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 16px;
}

footer .footer-up .footer-right .footer-links {
  line-height: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-up .footer-right .footer-links span {
  color: #5865f2;
}

footer hr {
  width: 80%;
  border: 1px solid #5865f2;
  margin: 2em 0;
}

footer .footer-bottom {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-bottom button {
  padding: 1em 1.5em;
  border-radius: 2em;
  border: none;
  background-color: #5865f2;
  color: #F5F6F6;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */