
$bg: #5865f2;


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: #ffffff;
    font-size: 16px;
}

.sec-one {
    width: 100%;
    color: #F5F6F6;
    background-color: $bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/svgs/svgexport-5.svg),url(/svgs/svgexport-6.svg) ,url(/svgs/svgexport-4.svg);
    background-repeat: no-repeat;
    background-size: 37.5%, 37.5%, 155%;
    background-position: -15% 100%, 114% 100%, center;


    .navbar {
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        align-items: center;
        padding: 1em;

        .nav-menus {
            display: flex;
            list-style-type: none;
            font-weight: bold;

             a {
                margin: 0 1em;
                text-decoration: none;
                color: white;
            }

        }

        .login-btn {
            padding: 1em;
            border-radius: 2em;
            border: none;
        }

    }

    .main-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        padding: 8em;

        h1 {
            font-size: 3.5em;
            font-weight: bolder;
            margin: 0;
        }

        p {
            text-align: center;
            font-size: 20px;
            font-weight: 300;
            margin: 1.5em;
            line-height: 2;
        }

        .landing-btns {
            width: 100%;
            display: flex;
            justify-content: center;

            button {
                padding: 15px 30px;
                font-size: 22px;
                border-radius: 2em;
                border: none;
                margin: 0 10px;
            }

            .download-btn {
                display: flex;
                
                img {
                    margin-right: 10px;
                }
            }

            .web-btn {
                background-color: #1A1D1F;
                color: #F5F6F6;
            }
        }

    }

}

.sec-two {
    display: flex;
    justify-content: center;
    align-items: center;

    .section-two-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        padding: 8em 0;
    
        .para {
            width: 25%;
    
            h2 {
                font-weight: bolder;
                font-size: 44px;
                margin: 0;
            }
    
            p {
                font-size: 20px;
                font-weight: 300;
            }
        }
    
    }
}


.sec-three {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;

    .section-three-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        padding: 8em 0;
    
        .para {
            width: 25%;
    
            h2 {
                font-weight: bolder;
                font-size: 44px;
                margin: 0;
            }
    
            p {
                font-size: 20px;
                font-weight: 300;
            }
        }
    
    }
}

.sec-four {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;

    .section-four-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        padding: 8em 0;
    
        .para {
            width: 25%;
    
            h2 {
                font-weight: bolder;
                font-size: 44px;
                margin: 0;
            }
    
            p {
                font-size: 20px;
                font-weight: 300;
            }
        }
    
    }
}




// footer

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #23272a;
    color: white;
    padding: 5em;

    a {
        text-decoration: none;
        color: white;
    }

    .footer-up {
        width: 80%;
        display: flex;

        .footer-left {
            width: 30%;

            h3 {
                margin: 0;
                font-weight: bolder;
                font-size: 32px;
                color: $bg;
            }

            select {
                margin: 2em 0;
                background-color: #23272a;
                color: #F5F6F6;
                border: none;
                font-size: 16px;
            }

            .socials {
                img {
                    margin: auto 1.5em auto auto;
                }
            }

        }

        .footer-right {
            width: 100%;
            display: flex;
            justify-content: space-around;
            font-size: 16px;

            .footer-links {

                span {
                    color: #5865f2;
                }

                line-height: 2;
                display: flex;
                flex-direction: column;
            }

        }

    }

    hr {
        width: 80%;
        border: 1px solid #5865f2;
        margin: 2em 0;
    }

    .footer-bottom {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            padding: 1em 1.5em;
            border-radius: 2em;
            border: none;
            background-color: #5865f2;
            color: #F5F6F6;
            font-weight: 500;
        }

    }

}